$text-color: #a46628;
$background-color: #fff5f0;

$mobile-width: 480px;
$tablet-width: 736px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-device-width: #{$tablet-width}) and (max-device-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (max-device-width: #{$desktop-width}) and (orientation: landscape) {
    @content;
  }
}

@mixin mobile {
  @media (max-device-width: #{$mobile-width}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-device-width: #{$tablet-width}) and (orientation: landscape) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: sans-serif, Arial, 微軟正黑體, Helvetica;
  font-size: 16px;



  @include mobile {
    font-size: 8px;
  }
}

body {
  height: 100%;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

section {
  &.full-screen {
    height: 100%;

    @include tablet {
      height: 70%;
    }

    @include tablet-landscape {
      height: 80%;
    }

    @include mobile {
      height: 60%;
    }

    @include mobile-landscape {
      height: 150%;
    }
  }
}

.section-cover {
  position: relative;
  background: url('../img/cover.jpg') no-repeat center center;
  background-size: cover;
  .wreath {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 400px;
    height: 400px;
    background: url('../img/wreath.png') no-repeat center center;
    background-size: contain;

    @include tablet {
      top: 30px;
      right: 30px;
      width: 250px;
      height: 250px;
    }

    @include mobile {
      top: 10px;
      right: 10px;
      width: 120px;
      height: 120px;
    }
  }
}

.section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  background-color: #{$background-color};
  font-size: 2em;
  line-height: 1.8em;
  color: #{$text-color};

  @include tablet {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  @include mobile {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.section-information {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3.12em;
  padding-bottom: 3.12em;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/information.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    opacity: 0.6;
  }

  .textbox {
    color: #fff;
    text-align: center;

    .headline {
      margin-bottom: 1.2em;
      font-size: 2.8em;
      font-weight: normal;

      @include tablet {
        margin-bottom: 1.5em;
        font-size: 3em;
      }

      @include mobile {
        margin-bottom: 0.5em;
        font-size: 3em;
      }
    }

    .title {
      margin-bottom: 0.62em;
      font-size: 2.7rem;
      font-weight: normal;

      @include mobile {
        margin-bottom: 0.3em;
        font-size: 2.4rem;
      }
    }

    .text {
      font-weight: normal;
      font-size: 2rem;
    }

    &-top-bg {
      width: 7.63em;
      height: 1.75em;
      margin: 0 auto 1.87em auto;
      background: url('../img/textbox-top.png') no-repeat center center;
      background-size: cover;

      @include mobile {
        margin-bottom: 1em;
      }
    }

    &-middle-bg {
      width: 8.87em;
      height: 0.5em;
      margin: 1.87em auto 1.87em auto;
      background: url('../img/textbox-middle.png') no-repeat center center;
      background-size: cover;

      @include mobile {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }

    &-bottom-bg {
      width: 4.56em;
      height: 1.5em;
      margin: 2.5em auto 0 auto;
      background: url('../img/textbox-bottom.png') no-repeat center center;
      background-size: cover;

      @include mobile {
        margin-top: 2em;
      }
    }
  }

  .button {
    padding: 4px 20px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid #fff;
    margin-top: 0.62em;

    &:hover {
      color: #db524b;
      border-color: #db524b;
      transition: color 0.3s ease-out, border-color 0.3s ease-out;
    }
  }
}

.section-form {
}
